-
	var books = [
		{
			name: "Элизабет",
			pages: "288",
			author: "Кеган О.",
			img: "static/images/content/book-normal-peoples.jpg",
			description: "Реальная история сильной женщины покорившей весь мир своей харизмой",
			stars: "4.7",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Апельсиновый закат",
			pages: "576",
			author: "Рид Ч.",
			img: "static/images/content/book-kingdoms.jpg",
			description: "История о небольшом японском городке, затерянном в лучах яркого солнца",
			stars: "4.8",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Чёрный воробей",
			pages: "416",
			author: "Боуи А.",
			img: "static/images/content/books-anxious-people.jpg",
			description: "Загадочный детектив с продуманным сюжетом и неожиданным финалом",
			stars: "5.0",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Белый воротник",
			pages: "208",
			author: "Фёрт А.",
			img: "static/images/content/a-life-of-pleasure.jpg",
			description: "Автор собрал в книге все свои знания о мужском стиле. Как всегда выглядеть «‎с иголочки»",
			stars: "3.5",
			link: "#",
			width: "275",
			height: "320"
		}
	];
