// 08 - создаем данные для блока book

-
	var book = {
		title: "Фигурная абстракция",
		image: "static/images/content/iron-king-head.jpg",
		height: "550",
		width: "485",
		star: "3.8",
		grade: "243",
		author: "Чендлер Смит",
		information: [
			{
				term: "Код товара",
				def: "123187432"
			},
			{
				term: "Издательство",
				def: "Арт-презент"
			},
			{
				term: "Серия",
				def: "Искусство"
			},
			{
				term: "Год издания",
				def: "2021"
			},
			{
				term: "Переводчик",
				def: "Панов А."
			},
			{
				term: "Кол-во страниц",
				def: "416"
			},
			{
				term: "Тип обложки",
				def: "Твердая"
			},
			{
				term: "Вес, г",
				def: "370"
			},
			{
				term: "Возрастные ограничения",
				def: "12+"
			}
		],
		annotation: "«‎Фигурная абстракция» — это исследование визуальной эстетики и творческого процесса захватывающего мира фигурной абстракции. Автор, опытный дизайнер и художник, рассматривает использование абстрактных форм и линий в различных видах искусства и дизайна. Книга освещает важность формы и линии в дизайне и искусстве, а также рассматривает влияние фигурной абстракции на современный мир. Она содержит множество примеров работ, которые демонстрируют, как абстрактные формы могут быть использованы для создания мощных визуальных образов и коммуникации идей."
	}
