extends layout/layout

block content
  main.book-page
    include modules/breadcrumbs
    include modules/book/book
    // Добавляем reviews и recently-viewed
    include modules/reviews/critique
    include modules/recently-viewed/recently-viewed