// 02 - Создаем данные для блока catalog-books

-
	var books = [
		{
			name: "Фигурная абстракция",
			pages: "416",
			author: "Смит Ч.",
			img: "static/images/content/book-iron-king.jpg",
			description: "Про искусство, дизайн, а также теорию цвета и формы",
			stars: "3.8",
			link: "figured-abstraction.html",
			width: "221",
			height: "221"
		},
		{
			name: "Пустошь",
			pages: "336",
			author: "Малкин А.",
			img: "static/images/content/book-fox-hole.jpg",
			description: "Научно-фантастический роман о путешествии через опустошенную пустыню",
			stars: "4.2",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Высший свет",
			pages: "448",
			author: "Зоммер Р.",
			img: "static/images/content/book-just-masa.jpg",
			description: "Исследует роль элиты в развитии общества и ее влияние на политику",
			stars: "4.5",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Ангельский мир",
			pages: "320",
			author: "Фрэй С.",
			img: "static/images/content/book-green-light.jpg",
			description: "Фантастическая книга о загадочном мире ангелов и людей",
			stars: "3.9",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Завтра на завтрак",
			pages: "784",
			author: "Плетнёв Л.",
			img: "static/images/content/book-sun-midnight.jpg",
			description: "Мир, где технологии развиваются быстрее, чем человеческий разум",
			stars: "3.5",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Созерцая красоту залива ",
			pages: "384",
			author: "Бакман Ф.",
			img: "static/images/content/book-second-life.jpg",
			description: "Захватывающая история о том, как небольшой залив превращается в источник",
			stars: "4.4",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "На грани",
			pages: "576",
			author: "Роуз М.",
			img: "static/images/content/book-istrebitel.jpg",
			description: "Роман о группе исследователей, которые отправляются на остров",
			stars: "3.9",
			link: "#",
			width: "221",
			height: "221"
		},
		{
			name: "Сонное дерево",
			pages: "448",
			author: "Новак К.",
			img: "static/images/content/book-lavr.jpg",
			description: "История о таинственном дереве, которое растет на границе двух миров",
			stars: "4.1",
			link: "#",
			width: "221",
			height: "221"
		}
	];

