extends layout/layout

block variables
  - var title = "Каталог книг"
  - var pageClass = "catalog-page"
  - var pathContentImg = 'static/images/content/'
  - var pathCommonImg = 'static/images/common/'

block content
  main(class=pageClass)
    include modules/breadcrumbs
    // Добавляем каталог
    include modules/catalog/catalog