-
	var books = [
		{
			name: "Чёрный воробей",
			pages: "416",
			author: "Боуи А.",
			img: "static/images/content/books-anxious-people.jpg",
			description: "Загадочный детектив с продуманным сюжетом и неожиданным финалом",
			stars: "5.0",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Путь к вершине",
			pages: "520",
			author: "Агава Ю.",
			img: "static/images/content/book-sapiens.jpg",
			description: "Путешествие длиною в жизнь. Как найти верный путь, если кажется, что все безнадёжно",
			stars: "4.9",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Золотая арка",
			pages: "608",
			author: "Холтер К.",
			img: "static/images/content/book-institute.jpg",
			description: "Мировой психологический бестселлер. Как найти себя в обществе",
			stars: "4.8",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Элизабет",
			pages: "288",
			author: "Кеган О.",
			img: "static/images/content/book-normal-peoples.jpg",
			description: "Реальная история сильной женщины покорившей весь мир своей харизмой",
			stars: "4.7",
			link: "#",
			width: "275",
			height: "320"
		}
	];
