extends layout/layout

block variables
  - var title = "Каталог книг"
  - var pageClass = "catalog-page"

block content
  main(class=pageClass)
    include modules/breadcrumbs
    include modules/catalog/catalog