-
	var books = [
		{
			name: "Белый воротник",
			pages: "208",
			author: "Фёрт А.",
			img: "static/images/content/a-life-of-pleasure.jpg",
			description: "Автор собрал в книге все свои знания о мужском стиле. Как всегда выглядеть «‎с иголочки»",
			stars: "3.5",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Апельсиновый закат",
			pages: "576",
			author: "Рид Ч.",
			img: "static/images/content/book-kingdoms.jpg",
			description: "История о небольшом японском городке, затерянном в лучах яркого солнца",
			stars: "4.8",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Море желаний",
			pages: "608",
			author: "Беляев И.",
			img: "static/images/content/book-transhumanism.jpg",
			description: "Книга учит мечтать и исполнять. Находите счастье в мелочах и делитесь им со всеми.",
			stars: "3.9",
			link: "#",
			width: "275",
			height: "320"
		},
		{
			name: "Веточка смородины",
			pages: "170",
			author: "Маунт П.",
			img: "static/images/content/book-feelings-of-shame.jpg",
			description: "История подростковой любви и дружбы, знакомая каждому не понаслышке",
			stars: "4.1",
			link: "#",
			width: "275",
			height: "320"
		}
	];
